version: "3.9"  # optional since v1.27.0
services:

  mongo:
    image: mongo:5.0.3
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: secret
    ports:
      - "27017:27017"
    volumes:
      - mongovol:/data/db

volumes:
  mongovol: {}
